* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


body {
  font-family: 'montseratt', sans-serif;
}

.App {
  background-image: url('./assets/offline.jpg');
  background-size: cover;
  width: 30%;
  height: 80%;
  text-align: center;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
}

.App.warm {
  background-color: red;
}

.App.sunrise {
  background-image: url('./assets/day/sunrise.jpg');
}

.App.night{
  background-image: url('./assets/night/night.jpg');
}

.App.default {
  background-image: url('./assets/default.jpg');
}

.App.freezing {
  background-image: url('./assets/freezing.png');
}

main {
  height: 75vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.05), rgba(0,0,0,0.25));
  padding: 25px;

}

.search-box{
  width: 100%;
  /* margin: 0 0 75px; */
  display: block;
}

.search-bar {
  width: 100%;
  padding: 15px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0px 0px 16px 16px;
  margin-top: -25px;

  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
  
  color: #313131;
  font-size: 20px;

  transition: 0.4s ease;
}

.location-box .location {
  padding-top: 10px;
  color: #FFF;
  font-size: 30px;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50,50,70,.5);
}

.location-box .time {
  color: #fff;
  font-size: 30px;
  font-weight: 450;
  text-align: center;
}

.weather-box {
  text-align: center;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255,255,255,0.2);
  border-radius: 18px;

  padding: 15px 25px;
  color: #FFF;
  font-size: 10vh;
  font-weight: 900;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather-box .weather {
  position: relative;
  margin: 10px auto;
  padding: 5px 5px;
  font-size: 3vh;
  font-weight: 400;
  color: #FFF;

  background-color: rgba(255,255,255,0.2);
  border-radius: 20px;
  width: 50%;

}
